<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">DAILY TASK MANAGER</a>
    <form class="form-inline">
        <button class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#myModal">ADD TASK
        </button>
    </form>
</nav>
<div class="example-container">
    <h2>PENDING</h2>
    <div cdkDropList #pendingList="cdkDropList" [cdkDropListData]="pending"
        [cdkDropListConnectedTo]="[inProcessList,completedList]" class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of pending" cdkDrag>{{item.title}}
            <span> <a href="javascript:void(0)" (click)="edit(item,'pending')" data-toggle="modal"
                    data-target="#myModal"><i class="navbar-toggler-icon fa fa-pencil"></i></a> <a
                    href="javascript:void(0)" (click)="delete(item,'pending')"><i
                        class="navbar-toggler-icon fa fa-trash"></i></a></span>
        </div>
    </div>
</div>

<div class="example-container">
    <h2>In PROCESS</h2>
    <div cdkDropList #inProcessList="cdkDropList" [cdkDropListData]="inProcess"
        [cdkDropListConnectedTo]="[pendingList,completedList]" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of inProcess" cdkDrag>{{item.title}}
            <span> <a href="javascript:void(0)" (click)="edit(item,'inProcess')" data-toggle="modal"
                    data-target="#myModal"><i class="navbar-toggler-icon fa fa-pencil"></i></a> <a
                    href="javascript:void(0)" (click)="delete(item,'inProcess')"><i
                        class="navbar-toggler-icon fa fa-trash"></i></a></span>
        </div>
    </div>
</div>
<div class="example-container">
    <h2>COMPLETED</h2>
    <div cdkDropList #completedList="cdkDropList" [cdkDropListData]="completed"
        [cdkDropListConnectedTo]="[inProcessList,pendingList]" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of completed" cdkDrag>{{item.title}}
            <span> <a href="javascript:void(0)" (click)="edit(item,'completed')" data-toggle="modal"
                    data-target="#myModal"><i class="navbar-toggler-icon fa fa-pencil"></i></a> <a
                    href="javascript:void(0)" (click)="delete(item,'completed')"><i
                        class="navbar-toggler-icon fa fa-trash"></i></a></span>
        </div>
    </div>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" *ngIf="!editFlag">Add Task</h4>
                <h4 class="modal-title" *ngIf="editFlag">Edit Task</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control col-md-6" placeholder="Task Title" name="title"
                        [(ngModel)]="title">
                </div>
                <div class="form-group">
                    <textarea class="form-control col-md-6" row="5" placeholder="Description" name="description"
                        [(ngModel)]="description"></textarea>
                </div>
                <div class="form-group">
                    <select class="form-control col-md-6" name="priority" [(ngModel)]="priority">
                        <option value="">Select Priority</option>
                        <option value="high">High</option>
                        <option value="medium">Medium</option>
                        <option value="low">Low</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal"
                    (click)="clearModal()">Close</button>
                <button type="button" class="btn btn-outline-success" data-dismiss="modal" (click)="save()"
                    *ngIf="!editFlag">Save</button>
                <button type="button" class="btn btn-outline-success" data-dismiss="modal" (click)="update()"
                    *ngIf="editFlag">Update</button>
            </div>
        </div>
    </div>